.cards {
  padding: 4rem;
  background: rgb(134, 113, 141);
}

.cards>h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  background: rgb(142, 90, 158);
  font-size: 40px;
  border-radius: 50%;
  height: 140px;
  padding-top: 10px;
}


.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}


.cards__items {
  margin-bottom: 10px 10px 10px 10px ;
}


.cards__item {
  display: flex;
  flex: 1;
  margin: 20px 50px 10px 10px ;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position:relative;
    width:400px;
    margin:0 auto;
    background-color: #ccffff;
    
    background-repeat: no-repeat;
    background-position: right top;

    height:auto;
    height:300px;
    text-align: center;
    padding-top: 200px;
    
    min-height:100%;
    background-size:100% 100%;
}
.cards__item__pic-wrap:hover {
  transform: scale(1.3);
  transition-duration: 2s;
}

.cards__item__link > h1
{
   color:  rgb(84, 30, 100);
   font-family: 'Playfair Display', serif;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}


.cards__item__info {
  padding: 0px 0px 0px 0px;
}

.cards__item__text {
  color: #0a0a0a;
  font-size: 20px;
  line-height: 20px;
  
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
